.chat__comment,
.comment-block{
    background-color: $blocks;
    box-sizing: border-box;
}

.comment-block .wrapper,
.chat__comment .wrapper{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 27px 0;
}

.comment-block h2,
.chat__comment h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: $nickName;
}

.chat__comment-comment{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.chat__comment-comment p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: $nickName;
    text-align: justify;
}

#userIconComment{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    object-fit: cover;
}

.comment-header{
    display: flex;
    align-items: center;
    gap: 8px 8px;
}

.comment-header span{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: $nickName;
}

#yourComment{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

#yourComment textarea{
    box-sizing: border-box;
    height: 214px;
    background-color: $mainBack;
    border: 1px solid white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: white;
    resize: none;
}

#yourComment button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF8C42;
    border-radius: 3px;
    background: none;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #FF8C42;
    width: 149px;
    padding: 5px 0;
}