#regForm{
    padding: 40px 40px;
}

.regConfCompany{
    display: flex;
    gap: 0 10px;
}

#Agreement{
    width: 17px;
    height: 17px;
}

.regConfCompany span{
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 800;
    color: $blackTxt;
}

.regConfCompany a{
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: $orange;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal h3,
p{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    margin: 10px 0;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}