@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222831;
}

header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #1C2329;
  height: 100px;
}

header .wrapper {
  padding: 31px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mainHeader__logo {
  display: flex;
  gap: 0 5px;
}

.mainHeader__logo span {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.mainHeader__nav {
  display: flex;
  gap: 0 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 500;
  list-style: none;
}

.mainHeader__nav a.active {
  color: #5AB9EA;
}

.mainHeader__buttons {
  display: flex;
  gap: 0 13px;
}

header a {
  color: white;
  text-decoration: none;
}

.header__login {
  width: 87px;
  border-radius: 5px;
  background-color: #FF8C42;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  border: none;
}

.header__user {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__user img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.owner__main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

main .wrapper {
  padding: 20px 200px;
  box-sizing: border-box;
}

footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #1C2329;
}

footer .wrapper {
  padding: 20px 200px;
  display: flex;
  gap: 0 180px;
}

footer .wrapper__mobile {
  display: none;
}

footer .block {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.footer__titel {
  width: 242px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #E3E3E3;
  padding-bottom: 9px;
  border-bottom: 1px solid #E3E3E3;
}

.footer__user ul {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  list-style: none;
}

.footer__nav ul {
  width: 242px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px 41px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  list-style: none;
}

.footer__nav li {
  width: 72px;
}

footer a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.footer__social--links {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}

.footer__social--links a {
  display: flex;
  align-items: center;
  gap: 0 14px;
}

.MetricHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 200px;
}

.MetricHeader a {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.AuthHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MetricHeader h1,
.AuthHeader h1 {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.loginMain {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px 0;
}

.auth__conyainer {
  margin-top: 80px;
  background-color: white;
  border: none;
  border-radius: 10px;
  max-width: 460px;
  width: 100%;
}

#login {
  padding: 40px 40px;
}

.auth__conyainer h2 {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 600;
  color: #1A1A1A;
  padding-bottom: 30px;
}

.auth__conyainer label {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #1A1A1A;
  padding-bottom: 15px;
}

.auth__conyainer input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #1A1A1A;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 14px;
  margin-bottom: 30px;
}

.auth__conyainer button {
  margin-top: 30px;
  background: linear-gradient(to right, #536976, #292E49);
  width: 100%;
  height: 59px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 9px;
  box-sizing: border-box;
  cursor: pointer;
}

.authChange__block {
  margin-bottom: 80px;
  background-color: white;
  max-width: 460px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.authChange__block span {
  color: #1A1A1A;
}

.authChange__block a {
  text-decoration: none;
  color: #5AB9EA;
}

.btnModalVer {
  width: 100%;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background: linear-gradient(to right, #536976, #292E49);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnModalVerNew {
  width: 100%;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background: linear-gradient(to right, #76b852, #8DC26F);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#regForm {
  padding: 40px 40px;
}

.regConfCompany {
  display: flex;
  gap: 0 10px;
}

#Agreement {
  width: 17px;
  height: 17px;
}

.regConfCompany span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 800;
  color: #1A1A1A;
}

.regConfCompany a {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #FF8C42;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.modal h3, .modal p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin: 10px 0;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.modal-content input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0 20px;
}

.content-blog {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  flex-grow: 1;
}

.content-blog article {
  background-color: #1C2329;
}

.devBlogs {
  position: sticky;
  top: 20px;
  right: 0;
  background-color: #1C2329;
  width: 365px;
  align-self: flex-start;
  height: -moz-fit-content;
  height: fit-content;
}

.devBlogs-wrapper {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.devBlogs__header {
  width: 325px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #E3E3E3;
  padding-bottom: 9px;
  border-bottom: 1px solid #E3E3E3;
}

.devBlogs article {
  padding: 20px 20px;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.devBlogs article p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: justify;
  font-weight: 400;
  color: #E3E3E3;
}

.devBlogs .top {
  display: flex;
  align-items: center;
  padding-bottom: 9px;
  gap: 0 20px;
}

.top h3 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: #E3E3E3;
}

.content-blog-item {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  box-sizing: border-box;
  padding: 20px 20px;
  width: 1135px;
}

.meta__user {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.meta__user img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.meta__user span {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.meta__blog-name {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.meta__blog-name h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #E3E3E3;
}

.meta__blog-name-category {
  display: flex;
  gap: 0 10px;
}

.meta__blog-name-category div {
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF8C42;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #FF8C42;
}

.meta__blog-content {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

#coverBlog {
  width: 1094px;
  height: 415px;
  border: none;
  border-radius: 10px;
}

.meta__blog-content p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E3E3E3;
  text-align: justify;
  line-height: 25px;
}

.meta__read-all {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 29px;
  border: 1px solid #5AB9EA;
  border-radius: 3px;
}

#allBlog {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5AB9EA;
  text-decoration: none;
}

.meta__blog-content-icons {
  display: flex;
  gap: 0 20px;
}

.meta__blog-content-icons button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.modal--close {
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 100px;
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
  box-sizing: border-box;
}

#modalUser {
  background-color: #1C2329;
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 200px;
}

#modalUser .wrapper-modal {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 17px 0;
}

#modalUser .top {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}

.top__user-info {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.top__user-info img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 2px;
}

.top__user-info span {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #5AB9EA;
}

.top__user-status {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
  padding-bottom: 9px;
  border-bottom: 1px solid #E3E3E3;
  font-family: "Inter", sans-serif;
}

#UserRealName {
  font-size: 14px;
  font-weight: 400;
  color: #FF8C42;
}

#UserStatus {
  font-size: 14px;
  font-weight: 300;
  color: white;
}

#modalUser a {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}

.logout__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}

.content__search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
}

.content__search-input {
  width: 1134px;
  background-color: #1C2329;
}

.content__search-input form {
  padding: 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  background-color: transparent;
  border: 1px solid white;
  height: 36px;
  width: 100%;
  border-radius: 4px;
  color: white;
  box-sizing: border-box;
  padding: 0 20px;
}

.content__search-input button {
  position: absolute;
  right: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__search-input button img {
  width: 20px;
  height: 20px;
}

.searchPosts {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding-bottom: 470px;
}

.content__header {
  box-sizing: border-box;
  width: 1135px;
  height: 100px;
  padding: 0 20px;
  background-color: #1C2329;
  display: flex;
  align-items: center;
}

.content__header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #E3E3E3;
}

.content__header a {
  text-decoration: none;
}

.indent {
  margin-bottom: 477px;
}

.user__account-block {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0 20px;
  width: 1135px;
  height: 87px;
  padding: 0 20px;
  background-color: #1C2329;
}

.user__account-block img {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__account-block-txt {
  display: flex;
  flex-direction: column;
  gap: 3px 0;
}

.user__account-block-txt #userNickname {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #5AB9EA;
}

.user-correct {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.user__nav-btn {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  display: flex;
  padding-bottom: 9px;
}

.user__nav-btn a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.user-wrapper {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 33px 0;
}

.onPage a {
  color: #5AB9EA;
}

.onPage {
  color: #5AB9EA;
  border-bottom: 1px solid #5AB9EA;
}

.no__posts {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding-bottom: 477px;
}

.setings__header {
  box-sizing: border-box;
  width: 1520px;
  height: 100px;
  padding: 0 20px;
  background-color: #1C2329;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.setings__header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #E3E3E3;
}

.setings__block {
  width: 1520px;
  background-color: #1C2329;
  box-sizing: border-box;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 47px 0;
}

.setings__grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 568px 390px 235px; /* 3 колонки по 200px */
  grid-template-rows: 100px 100px; /* 2 строки по 100px */
  gap: 47px 0; /* Отступы между элементами */
}

.userRealName-input {
  grid-area: 1/1;
  display: flex;
  flex-direction: column;
}

.userRealName-input h2,
.userStatus-input h2,
.userChooseIcon-block h2 {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #E3E3E3;
  padding-bottom: 12px;
}

.userRealName-input input,
.userStatus-input input {
  box-sizing: border-box;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  padding: 0 20px;
  border-radius: 9px;
  font-size: 15px;
  color: white;
}

.userRealName-input span,
.userStatus-input span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #E3E3E3;
  padding-top: 9px;
}

.userStatus-input {
  grid-area: 2/1;
  display: flex;
  flex-direction: column;
}

.userChooseIcon-block {
  grid-area: 1/3;
  display: flex;
  flex-direction: column;
}

.userChooseIcon-block img {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 3px;
}

.userChooseIcon-block span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #E3E3E3;
  padding-top: 9px;
}

.userChooseIcon-block button {
  margin-top: 12px;
  width: 99px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #FF8C42;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #E3E3E3;
  padding: 7px 0;
  cursor: pointer;
}

.setings__block__themes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.setings__block__themes-header {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #E3E3E3;
  padding-bottom: 9px;
  border-bottom: 1px solid #E3E3E3;
}

.setings__block__themes-choose {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}

.setings__block__themes-choose button {
  box-sizing: border-box;
  padding: 6px 0;
  width: 100px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #E3E3E3;
  background-color: transparent;
  border: 1px solid #5AB9EA;
  border-radius: 3px;
  cursor: pointer;
}

#saveSetings {
  box-sizing: border-box;
  padding: 8px 0;
  width: 162px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #1A1A1A;
  background-color: #FF8C42;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.setings__block__themes-choose button.selected {
  background-color: #5AB9EA;
  color: #1A1A1A;
}

.content-creator {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  box-sizing: border-box;
  padding: 20px 20px;
  width: 1135px;
  background-color: #1C2329;
}

.content-creator label {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #E3E3E3;
  padding-bottom: 3px;
}

#start-blog {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.creator__start-name {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}

.content-creator input {
  box-sizing: border-box;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  padding: 0 20px;
  border-radius: 9px;
  font-size: 15px;
  color: white;
}

.text-block-blog,
.creator__description,
.creator__start-name span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #E3E3E3;
}

.creator__categories {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}

.creator__categories-set {
  display: flex;
  gap: 0 10px;
}

.category {
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5AB9EA;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #5AB9EA;
  background: none;
  cursor: pointer;
}

.active-category {
  border: 1px solid #FF8C42;
  color: #FF8C42;
}

#pushImgBlog {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 415px;
  background: none;
  border-radius: 9px;
  border: 2px dashed #5AB9EA;
}

.videos-block-blog p,
.images-block-blog p,
#pushImgBlog p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #BFBFBF;
  line-height: 20px;
  text-align: center;
}

.plussChar {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #5AB9EA;
}

.plussDescription {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #5AB9EA;
}

.creator__description {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}

.content-creator textarea {
  box-sizing: border-box;
  height: 300px;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 9px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: white;
  resize: none;
}

.open-creator-modal {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 151px;
  background: none;
  border-radius: 9px;
  border: 1px solid #5AB9EA;
}

#pushBlog {
  box-sizing: border-box;
  padding: 8px 0;
  width: 162px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #1A1A1A;
  background-color: #FF8C42;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal__Creator {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 26, 26, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.modal__Creator-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #1C2329;
  height: 330px;
  width: 1134px;
  box-sizing: border-box;
  padding: 20px 20px;
  gap: 20px 0;
}

.modal__Creator-select {
  display: flex;
  gap: 0 23px;
}

.modal__Creator-select div {
  border-radius: 5px;
  border: 1px solid #5AB9EA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 349px;
  height: 150px;
  gap: 6px 0;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #BFBFBF;
  cursor: pointer;
}

.modal__Creator-select div.selected {
  border: 1px solid #FF8C42;
  color: #FF8C42;
}

.modal__Creator-select img {
  width: 50px;
  height: 50px;
}

#addBlockPost {
  box-sizing: border-box;
  padding: 8px 0;
  width: 162px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #1A1A1A;
  background-color: #FF8C42;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.text-block-blog {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}

.images-block-blog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.images-block-blog button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 537px;
  height: 302px;
  background: none;
  border-radius: 9px;
  border: 2px dashed #5AB9EA;
}

.videos-block-blog button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 616px;
  background: none;
  border-radius: 9px;
  border: 2px dashed #5AB9EA;
}

.chat__comment,
.comment-block {
  background-color: #1C2329;
  box-sizing: border-box;
}

.comment-block .wrapper,
.chat__comment .wrapper {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 27px 0;
}

.comment-block h2,
.chat__comment h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
}

.chat__comment-comment {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.chat__comment-comment p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  text-align: justify;
}

#userIconComment {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 8px 8px;
}

.user-nickName {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#yourComment {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

#yourComment textarea {
  box-sizing: border-box;
  height: 214px;
  background-color: #222831;
  border: 1px solid white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: white;
  resize: none;
  box-sizing: border-box;
  padding: 5px 5px;
}

#yourComment button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF8C42;
  border-radius: 3px;
  background: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #FF8C42;
  width: 149px;
  padding: 5px 0;
}

.content-blog-item h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: #FF8C42;
}

.meta__media-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.meta__block {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.meta__media-block img {
  border-radius: 9px;
  -o-object-fit: cover;
     object-fit: cover;
}

.meta__media-block video {
  width: 1094px;
  border-radius: 9px;
  -o-object-fit: cover;
     object-fit: cover;
}

.noComments {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: white;
}

.comment-date {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 200;
  color: #E3E3E3;
}

@media (max-width: 768px) {
  .devBlogs {
    width: 353px;
  }
  .devBlogs-wrapper {
    display: none;
  }
  header {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
  }
  header .wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .mainHeader__logo {
    display: none;
  }
  .mainHeader__nav {
    display: flex;
    gap: 0 15px;
    font-size: 14px;
    color: white;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    padding-bottom: 5px;
    -webkit-overflow-scrolling: touch;
  }
  .mainHeader__nav::-webkit-scrollbar {
    display: none;
  }
  .mainHeader__nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .mainHeader__nav li {
    display: inline-block;
  }
  .mainHeader__logo span {
    font-family: "Oswald";
    font-size: 30px;
    font-weight: 600;
    color: white;
  }
  .mainHeader__nav {
    gap: 0 10px;
    font-size: 10px;
    color: white;
  }
  .mainHeader__buttons {
    display: none;
  }
  .header__user img {
    width: 30px;
    height: 30px;
  }
  main .wrapper {
    padding: 10px 20px;
  }
  .content-blog {
    flex-grow: 0;
  }
  .content-blog-item {
    display: flex;
    gap: 10px 0;
    padding: 10px 10px;
    width: 353px;
  }
  .meta__user {
    gap: 0 10px;
  }
  .meta__user img {
    width: 25px;
    height: 25px;
  }
  .meta__user span {
    font-size: 16px;
  }
  .meta__blog-name h2 {
    font-size: 20px;
  }
  .meta__blog-name-category div {
    width: 68px;
    font-size: 12px;
  }
  .meta__blog-content {
    gap: 10px 0;
  }
  #coverBlog {
    width: 333px;
    height: 130px;
  }
  .meta__blog-content p {
    font-size: 15px;
  }
  .meta__read-all {
    width: 109px;
    height: 21px;
  }
  #allBlog {
    font-size: 12px;
  }
  .meta__blog-content-icons {
    gap: 0 10px;
  }
  .meta__media-block {
    gap: 15px 10px;
  }
  .meta__block {
    gap: 10px 0;
  }
  .meta__media-block img {
    width: 333px;
  }
  .content-blog-item h3 {
    font-size: 19px;
  }
  .meta__media-block video {
    width: 333px;
  }
  .content__search {
    align-items: center;
  }
  .content__search-input {
    width: 353px;
    background-color: #1C2329;
  }
  footer .wrapper {
    display: none;
  }
  footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
  }
  footer .wrapper__mobile {
    display: flex;
    padding: 10px 20px;
    justify-content: space-around;
  }
  .wrapper__mobile {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .wrapper__mobile a,
  .wrapper__mobile button {
    display: inline-block;
  }
  .wrapper__mobile img {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .wrapper__mobile a.active img {
    filter: brightness(1.2);
  }
  #modalUser {
    margin-right: 0;
  }
  .modal--close {
    top: 497px;
  }
  .setings__header {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .setings__header h1 {
    font-size: 20px;
  }
  .setings__block {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    gap: 30px;
  }
  .setings__grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .userRealName-input,
  .userStatus-input,
  .userChooseIcon-block {
    width: 100%;
  }
  .userRealName-input h2,
  .userStatus-input h2,
  .userChooseIcon-block h2 {
    font-size: 16px;
    padding-bottom: 8px;
  }
  .userRealName-input input,
  .userStatus-input input {
    height: 35px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 6px;
  }
  .userRealName-input span,
  .userStatus-input span,
  .userChooseIcon-block span {
    font-size: 12px;
    padding-top: 6px;
  }
  .userChooseIcon-block img {
    width: 60px;
    height: 60px;
  }
  .userChooseIcon-block button {
    width: 90px;
    font-size: 14px;
    padding: 6px 0;
    margin-top: 8px;
  }
  .setings__block__themes {
    gap: 20px;
  }
  .setings__block__themes-header {
    font-size: 16px;
    padding-bottom: 6px;
  }
  .setings__block__themes-choose {
    gap: 8px;
  }
  .setings__block__themes-choose button {
    width: 90px;
    font-size: 14px;
    padding: 5px 0;
  }
  #saveSetings {
    width: 140px;
    font-size: 12px;
    padding: 6px 0;
  }
  .error {
    font-size: 14px;
    color: #FF8C42;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .content-blog {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
  }
  .content__header {
    width: 353px;
    height: 60px;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .content__header h1 {
    font-size: 20px;
  }
  .user__account-block {
    width: 353px;
    height: 70px;
    padding: 0 15px;
    gap: 0 15px;
  }
  .user__account-block img {
    width: 40px;
    height: 40px;
  }
  .user__account-block-txt #userNickname {
    font-size: 18px;
  }
  .user__account-block-txt .user-correct {
    font-size: 13px;
  }
  .indent {
    margin-bottom: 60px;
  }
  .user-wrapper {
    width: 353px;
    padding: 15px;
    gap: 15px;
    box-sizing: border-box;
  }
  .devBlogs__header {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #E3E3E3;
  }
  .user__nav-btn {
    font-size: 14px;
    padding-bottom: 6px;
  }
  .user__nav-btn a {
    font-size: 14px;
  }
  .onPage {
    border-bottom: 1px solid #5AB9EA;
    color: #5AB9EA;
  }
  .no__posts {
    font-size: 16px;
    padding-bottom: 60px;
    text-align: center;
  }
  .content-creator {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    /* Используем миксин для ширины 353px и центрирования */
    padding: 10px;
    gap: 15px 0;
  }
  .content-creator label {
    font-size: 16px;
    padding-bottom: 5px;
  }
  #start-blog {
    gap: 15px 0;
  }
  .creator__start-name {
    gap: 6px 0;
  }
  .content-creator input {
    height: 35px;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 6px;
  }
  .creator__start-name span,
  .creator__description span,
  .text-block-blog span {
    font-size: 12px;
  }
  .creator__categories {
    gap: 6px 0;
  }
  .creator__categories-set {
    flex-wrap: wrap;
    gap: 8px;
  }
  .category {
    width: 80px;
    font-size: 13px;
    padding: 5px 0;
  }
  #pushImgBlog {
    height: 130px;
    border-radius: 6px;
  }
  #pushImgBlog p,
  .images-block-blog p,
  .videos-block-blog p {
    font-size: 12px;
    line-height: 16px;
  }
  .plussChar {
    font-size: 40px;
  }
  .plussDescription {
    font-size: 12px;
  }
  .creator__description textarea {
    height: 200px;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 6px;
  }
  .open-creator-modal {
    height: 100px;
    border-radius: 6px;
  }
  #pushBlog {
    width: 120px;
    font-size: 12px;
    padding: 6px 0;
    border-radius: 3px;
  }
  .modal__Creator-content {
    width: 353px;
    height: auto;
    padding: 15px;
    gap: 15px;
  }
  .modal__Creator-select {
    flex-direction: column;
    gap: 10px;
  }
  .modal__Creator-select div {
    width: 100%;
    height: 100px;
    font-size: 12px;
    border-radius: 5px;
  }
  .modal__Creator-select img {
    width: 40px;
    height: 40px;
  }
  #addBlockPost {
    width: 120px;
    font-size: 12px;
    padding: 6px 0;
    border-radius: 3px;
  }
  .text-block-blog {
    gap: 8px 0;
  }
  .text-block-blog input {
    height: 35px;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 6px;
  }
  .text-block-blog textarea {
    height: 200px;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 6px;
  }
  .images-block-blog {
    flex-direction: column;
    gap: 10px;
  }
  .images-block-blog button,
  .images-block-blog img {
    width: 333px;
    /* 353px - 2 * 10px (padding контейнера) */
    height: 187px;
    /* Пропорционально уменьшено от 537x302 */
    border-radius: 6px;
  }
  .videos-block-blog button,
  .videos-block-blog video,
  .videos-block-blog img {
    width: 333px;
    /* 353px - 2 * 10px (padding контейнера) */
    height: 187px;
    /* Пропорционально уменьшено от 1094x616 */
    border-radius: 6px;
  }
  /* Адаптация обложки */
  .content-creator img[alt=cover] {
    width: 333px;
    height: 130px;
    /* Пропорционально уменьшено от 1094x415 */
    border-radius: 6px;
  }
}/*# sourceMappingURL=main.css.map */